<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.Person.Guy.Person">
        <constructor-arg value="Tralalero"/>
        <constructor-arg value="Tralala"/>
        <constructor-arg>
            <value>2001/09/11/</value>
        </constructor-arg>
    </bean>

</beans>
